body
   font-family: 'Roboto', sans-serif

th, td 
   border: 1px solid black

h1
    font-size: 13px
    text-transform: uppercase
    font-size: 43px
    line-height: 56px
p
    font: 400 16px/26px "Gotham", helvetica, arial, sans-serif
  