.container-form 
    input
        margin-bottom: 10px
        width: 100%
        border: 1px solid #dcd0e0
        border-radius: 2px
        padding: 18px
        box-sizing: border-box
 
    p
        color: #9a9c9e
        margin-bottom: 20px
        font: 400 16px "Gotham", helvetica, arial, sans-serif